# port

PORT=3000
NODE_ENV=development

# mongoDB
MONGODB_ROOT_USERNAME=username99
MONGODB_ROOT_PASSWORD=password99
MONGODB_DB_NAME=shopping-cart
MONGODB_URL=mongodb://username99:password99@mongodb:27017/shopping-cart?authSource=admin

# express secret

SECRET=